body {
  min-width: 320px;
}

.text-platzi {
  color: #97c93e !important;
}
.text-platzi:hover {
  color: white !important;
}

#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

#carousel {
  position: relative;
}
#carousel .overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#footer {
  background: -webkit-gradient(linear, left top, right top, from(#1c3643), color-stop(25%, #273b47), to(#1e5472));
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
  text-align: center;
}
#footer a {
  color: white;
  text-decoration: none;
}